<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>About Us</h1>
    <p style="font-size: larger">
      We are an online company specializing in consucting, and presenting the
      findings of online surveys. <br />
      We have a group of qualified proffessionals who work hard to deliver on
      our promise to our customers.
    </p>

    <p id="footer">
      Contact us on: <br />
      email address: surveystars@gmail.com <br />
      Number: +25412345768
    </p>
  </body>
</html>
